<h1>Editing qualidade</h1>

<%= render "form", qualidade: @qualidade %>

<br>

<div>
  <%= link_to "Show this qualidade", @qualidade %> |
  <%= link_to "Back to qualidades", qualidades_path %>
</div>
