<h1>Editing depoimento</h1>

<%= render "form", depoimento: @depoimento %>

<br>

<div>
  <%= link_to "Show this depoimento", @depoimento %> |
  <%= link_to "Back to depoimentos", depoimentos_path %>
</div>
